doctype
html
    head
        title #{title}
        link(rel='stylesheet', href='/css/style.css')
    body
        header
            h1 Node Mongo REST API DAL Admin
        .container
            .main-content
                block content
            .sidebar
                block sidebar
        footer
            p Created with Node JS, Express, and Mongoose